$disabledColor: #e9ecef;
$hoverColor: #c1c1c1;

label.form-control.disabled {
    background-color: $disabledColor;
    min-height: 38px;
    opacity: 1;
}

main.container {
    min-height: calc(100vh - 225px);
}

#deviceTable tr:hover td {
    --bs-table-accent-bg: none;
    background-color: $hoverColor;
    cursor: pointer;
}
