$bg-nav-tab-hover-border: #bcbebf #cdcdcd #bcbfc3;
$disabledColor: #e9ecef;
$hoverColor: #c1c1c1;
$black: #000000;

.nav-tabs {
    border-bottom: 1px solid $black;
}

.nav-link {
    color: $black;
}

.nav-link:focus, .nav-link:hover {
    color: $black;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: $black $black #fff;
    font-weight: bold;
}

.nav-tabs .nav-link:not(.active):hover, .nav-tabs .nav-link:not(.active):focus {
    border-color: $bg-nav-tab-hover-border;
    border-bottom: 1px solid transparent;
}

label.form-control.disabled {
    background-color: $disabledColor;
    min-height: 38px;
    opacity: 1;
}

main.container {
    min-height: calc(100vh - 225px);
}

#deviceTable tr:not(.no-devices):hover td,
#deviceOrderTable tr:not(.no-devices):hover td {
    --bs-table-accent-bg: none;
    background-color: $hoverColor;
}

#deviceTable tr:not(.no-devices):hover td {
    cursor: pointer;
}

#deviceOrderTable tr:not(.no-devices):hover td {
    cursor: grab;
}


